<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Financial Sentiment Charts</title>

  <!-- import -->

  <!-- jquery -->
  <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>

  <script type="text/javascript" src="https://cdn.bootcss.com/jstock_id/3.0.0/jstock_id.min.js"></script>
  <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

  <script src="https://kit.fontawesome.com/9cd8517369.js"></script>

  <link rel="stylesheet" type="text/css" href="https://codepen.io/jgthms/pen/EjxBdR.css">

  <script type="text/javascript" src="https://sciactive.com/pnotify/dist/iife/PNotify.js"></script>
  <script type="text/javascript" src="https://sciactive.com/pnotify/lib/iife/PNotifyButtons.js"></script>
  <link href="https://sciactive.com/pnotify/dist/PNotifyBrightTheme.css" rel="stylesheet" type="text/css" />

  <!-- css  -->
  <style>
    * {
      box-sizing: border-box;
    }

    body {
      margin: 0;
      padding: 0;
      background: rgb(212, 213, 236);
      font-weight: 500;
      font-family: "Microsoft YaHei", "Segoe UI", "Lucida Grande", Helvetica, Arial, sans-serif, FreeSans, Arimo;
    }

    .middleware {
      display: block;
      text-align: center;
      margin: 0 auto;
    }

    #container {
      margin: 0 auto;
    }

    [ui-pnotify].ui-pnotify.custom .ui-pnotify-container {
      border: none;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      border-radius: 10px;
      padding: 25px;
      font-size: 15px;
    }
  </style>
</head>

<link rel="icon" href="data:;base64,iVBORw0KGgo=">

<body>

  <div class='middleware'>

    <button id="search_btn" class="button button-blue" onclick="search_btn_click()">
      <i class="fas fa-sync-alt"></i>
      Refresh
    </button>

    <button id="realtime_btn" class="button button-yellow" onclick="export_btn_click()">
      <i class="fas fa-share"></i>
      Export
    </button>

    <button id="realtime_btn" class="button button-red" onclick="realtime_btn_click()">
      <i class="fas fa-bolt"></i>
      Realtime
    </button>

  </div>

  <div id="chart" style="width:100%; height:550px;"></div>

  <script>
    var chart = echarts.init(document.getElementById('chart'), 'white', { renderer: 'canvas' });

    var item_id = "";
    var isRealtime = false;
    var percent = 0;

    search_btn_click();

    $(
      function () {
        fetchData(false);
        setInterval(fetchData, 60000);
      }
    );

    function getKeyVariable(variable) {
      var key = window.location.search.substring(1);
      var vars = key.split("&");
      for (var i = 0; i < vars.length; i++) {
        var pair = vars[i].split("=");
        if (pair[0] == variable) { return pair[1]; }
      }
      return (false);
    }

    function search_btn_click() {
      item_id = getKeyVariable('item_id');
      if (item_id === "") {
        var notice = PNotify.error({
          title: 'Error!',
          text: 'Please check the item_id you want to search for!'
        });
        setTimeout(function () {
          notice.close();
        }, 5000);
      }
      else
        fetchData(true);
    }

    function realtime_btn_click() {
      if (isRealtime) {
        var notice = PNotify.notice({
          title: 'Notice!',
          text: 'Realtime Refresh has been stopped!'
        });
        setTimeout(function () {
          notice.close();
        }, 1500);
        document.getElementById("realtime_btn").className = "button button-red";
      }
      else {
        var notice = PNotify.success({
          title: 'Notice!',
          text: 'Realtime Refresh has been started!'
        });
        setTimeout(function () {
          notice.close();
        }, 1500);
        document.getElementById("realtime_btn").className = "button button-green";
      }
      isRealtime = !isRealtime;
    }

    function export_btn_click() {
      item_id = getKeyVariable('item_id');
      if (item_id === "") {
        var notice = PNotify.error({
          title: 'Error!',
          text: 'Please check the item_id you want to search for!'
        });
        setTimeout(function () {
          notice.close();
        }, 5000);
      }
      else
        exportData();
    }

    function fetchData(isClick) {
      if (item_id != "" && item_id != "undefined" && isRealtime || isClick) {
        beginLoading(isClick);
        $.ajax({
          type: "GET",
          url: "http://127.0.0.1:5000/charts?item_id=" + item_id,
          dataType: 'json',
          success: function (result) {
            console.log(result)
            chart.setOption(result["chart"]);
            endLoading(isClick);
          },
          error: function (XMLHttpRequest, textStatus, errorThrown) {
            errorLoading(isClick);
            console.log(XMLHttpRequest.status);
            console.log(XMLHttpRequest.readyState);
            console.log(textStatus);
          },
        });
      }
    }

    function exportData() {
      if (item_id != "" && item_id != "undefined") {
        beginLoading(true);
        $.ajax({
          type: "GET",
          url: "http://127.0.0.1:5000/export?item_id=" + item_id,
          dataType: 'json',
          success: function (result) {
            console.log(result)
            chart.setOption(result["chart"]);
            endLoading(true);
          },
          error: function (XMLHttpRequest, textStatus, errorThrown) {
            errorLoading(true);
            console.log(XMLHttpRequest.status);
            console.log(XMLHttpRequest.readyState);
            console.log(textStatus);
          },
        });
      }
    }

    function loading() {
      percent = 0;
      PNotify.defaults.icons = 'fontawesome5';
      window.loading_notice = PNotify.info({
        text: 'Please Wait',
        icon: 'fas fa-cog fa-spin',
        addClass: 'custom',
        hide: false,
        shadow: false,
        stack: {
          'modal': true,
          'overlayClose': false
        },
        modules: {
          Buttons: {
            closer: false,
            sticker: false
          }
        }
      });

      setTimeout(function () {
        window.loading_notice.update({
          title: false
        });
        var interval = setInterval(function () {
          var options = {
            text: percent + '% complete.'
          };
          if (percent < 0) {
            window.clearInterval(interval);
            options.title = 'Error!';
            options.type = 'error';
            options.text = 'Please check the data source...'
            options.hide = true;
            options.icon = 'fas fa-exclamation-triangle';
            options.shadow = true;
            options.width = PNotify.defaults.width;
            options.modules = {
              Buttons: {
                closer: true,
                sticker: false
              }
            };
          }
          if (percent >= 0 && percent < 80) {
            options.title = 'Loading...';
          }
          if (percent === 80) {
            options.title = 'Almost There...';
            percent -= 2;
          }
          if (percent >= 100) {
            window.clearInterval(interval);
            options.title = 'Done!';
            options.type = 'success';
            options.hide = true;
            options.icon = 'fas fa-check';
            options.shadow = true;
            options.width = PNotify.defaults.width;
            options.modules = {
              Buttons: {
                closer: true,
                sticker: false
              }
            };
          }
          window.loading_notice.update(options);
          percent += 2;
        }, 120);
      }, 2000);
    }

    function beginLoading(isClick) {
      if (isClick) {
        percent = 0;
        loading();
      }
    }

    function endLoading(isClick) {
      if (isClick) {
        percent = 100;
      } else {
        percent = 100;
        var notice = PNotify.success({
          title: 'Success!',
          text: 'Chart has been refreshed just now!'
        });
        setTimeout(function () {
          notice.close();
        }, 5000);
      }
    }

    function errorLoading(isClick) {
      if (isClick) {
        percent = -1;
      }
    }
  </script>
</body>

</html>